/* Dock */

#espressoDock {
	display: block;
	position: absolute;
	background: #fff;
	padding: 2px 15px 2px 2px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f0f0f0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
	min-height: 20px;
	height: auto;
	z-index: 10;
	_height: 20px; /* IE 6.0 hack, for not supporting min-height SFF 12/07/2007*/
}
	
.espressoDockButton {
	float: left;
	display: block;
	width: 120px;
	height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: #f4f4f4;
	border-top: 1px solid #fff;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	border-left: 1px solid #fff;
	margin: 0 1px 0 0;
	-moz-user-select:none !important;
	outline: none !important;
}
.espressoDockButton span {
	-moz-user-select:none !important;
	outline: none !important;
	font-size: 10px;
	margin: 0px 0px 0px 3px;
}
.espressoDockButton.minimized {
	background-color: #f4f4f4;
}
.espressoDockButton.focused {
	background-color: #E7E7D1;/*#888;/*#ddd;*/
}
.espressoDockButton.minimized,
.espressoDockButton.focused,
.espressoDockButton:focus {
	outline: none;
	-moz-user-select:none;
}
